{% extends 'base.html.twig' %}

{% block title %}Modification de votre mot de passe{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-12"><h1>Modifier votre mot de passe</h1></div>
  </div>
  <hr class="text-body">
  {% for error in app.flashes('error') %}
    <div class="alert alert-danger" role="alert">
      {{ error }}
    </div>
  {% endfor %}
  <div class="row">
    <form action="" method="post">
      <div class="form-group">
        <label for="exampleInputPassword1">Mot de passe</label>
        <input type="password" class="form-control" name="pass" id="exampleInputPassword1">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword2">Comfirmer le mot de passe</label>
        <input type="password" class="form-control" name="pass2" id="exampleInputPassword2">
      </div>
      <button type="submit" class="btn btn-primary">Valider</button>
    </form>
  </div>
  
</div>
{% endblock %}
