{% extends 'base.html.twig' %}

{% block title %}Modification de votre profil{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Votre profile</h1>
    </div>
  </div>
  <hr class="text-body">
  <div class="row">
    {{ form_start(form) }}
    {{ form_end(form) }}
  </div>

</div>
{% endblock %}